@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  /* --clr-primary-100: hsl(200, 100%, 95%);
  --clr-primary-200: hsl(200, 100%, 85%);
  --clr-primary-400: hsl(200, 60%, 75%);
  --clr-primary-500: hsl(200, 60%, 70%);
  --clr-primary-600: hsl(200, 100%, 20%);
  --clr-primary-800: hsl(200, 100%, 10%); */

  --clr-primary-100: hsl(124, 100%, 97%);
  --clr-primary-200: hsl(273, 13%, 65%);
  --clr-primary-400: hsl(130, 79%, 87%);
  --clr-primary-500: hsl(142, 55%, 81%);
  --clr-primary-600: hsl(200, 100%, 20%);
  --clr-primary-800: hsl(200, 100%, 10%);

  --ff-regular: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-800);
  font-family: var(--ff-regular);
}

h2 {
  color: white;
  text-shadow: 1px 1px 4px var(--clr-primary-800);
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}

.current__title {
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--clr-primary-200);
  text-shadow: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--clr-primary-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--clr-primary-800);
}

.header__content {
  display: flex;
  width: 100%;
}

.header__left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid var(--clr-primary-800);
}

.weekly__title {
  text-align: center;
  margin: 1rem 0 0 0;
}

.weather__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.weather__icon.large {
  width: 80px;
  height: 80px;
}

.header__curent-temp {
  font-size: 2rem;
  margin-left: 1rem;
}

.header__right {
  display: grid;
  width: 50%;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.info__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
  color: var(--clr-primary-600);
}

.value-sub-info {
  font-weight: lighter;
  font-size: 0.75rem;
}

.day__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 85px);
  gap: 0.8rem;
  justify-content: center;
  padding: 1rem;
}

.day__card {
  background-color: var(--clr-primary-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--clr-primary-800);
  border-radius: 0.25rem;
  padding: 0.4rem;
  box-shadow: 3px 3px 0px var(--clr-primary-800);
}

.day__card-day {
  font-size: 0.75rem;
  color: var(--clr-primary-600);
  margin-top: 0.5rem;
  font-weight: bold;
}

.hourly__title {
  margin: 0;
  text-align: center;
  background-color: var(--clr-primary-500);
  padding: 1rem;
  border-top: 1px solid var(--clr-primary-800);
}

.hour__section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hour__row {
  background-color: var(--clr-primary-400);
}

.hour__row:nth-child(2n) {
  background-color: var(--clr-primary-500);
}

.hour__row > td {
  padding: 0.25rem 0.5rem;
}
